$black: #0D0E10;
$black-dark :#050607;
$black-light : #15171A;

$white: #F5F7F7;
$white-dark :#EDEFF0;
$white-light : #FAFCFC;

$primary: #9c44dc;
$primary-dark :#442c61;
$primary-light : #bc8ae1;

$gray-1: #777;
$white: #fff;