@mixin flexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox-column() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container() {
  max-width: 1220px;
  margin: 0 auto;
}